{% extends 'main/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Wether
{% endblock %}

{% block link %}
<!-- Additional files css -->
{% endblock %}

{% block main %}
<div>
    <h3>Check Wether</h3>
</div>
<br><hr><br>
<div>
    <form method="post">
        {% csrf_token %}

        <h4>Wybierz paramatry</h4>
        
        <button type="submit" class="btn btn-success">Send</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<!-- Additional files js -->
{% endblock %}
