{% extends 'france/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Add dialog
{% endblock %}

{% block link %}
<!-- Additional files css -->
{% endblock %}

{% block main %}

<div>
    <h2>Dodaj nowe słowo</h2>
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}
        
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<br><hr><br>
<div>
    <h2>Wyszukaj słowo</h2>
    <label for="search-world">Wpisz szukane słowo</label><br>
    <input type="text" id="search-world" name="search-world">
    <label for="">Wybierz język w jakim jest słowo</label>
    <input type="radio" id="fr" name="language">FR</input>
    <input type="radio" id="pl" name="language">PL</input>
    <label for="world-description" id="label-description"></label>
    <p id="world-description"></p>
</div>
<br><hr><br>
<div>
    <table>
        <thead>
            <tr>
                <th>World pl</th>
                <th>World fr</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for world in dictionary %}
            <tr>
                <td>{{ world.world_pl }}</td>
                <td>{{ world.world_fr }}</td>
                <td>{{ world.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}

{% block scripts %}
<!-- Additional files js -->
{% endblock %}
