{% extends 'france/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Dialog
{% endblock %}

{% block link %}
<!-- Additional files css -->
{% endblock %}

{% block main %}
<div>
    <h3>Dialog scenki</h3>
</div>
<br><hr><br>
<div>
    <h1>Test Zdarzeń</h1>
    {% if test %}
    <h4>{{ test }}</h4>
    {% endif %}
</div>
<br><hr><br>
<div>

    <h2>{{ situation.name }}</h2>
    <h3>{{ situation.description }}</h3>
    <br>
    <a href="{% url 'edit-dialog' situation.id 0 'delete-scene' %}" class="btn btn-danger">Delete Scene</a>
    <br>
    <br>
    {% for sentence in dialog_list %}
    <div>
        <h2><b>{{ sentence.character_name }}</b></h2><br>
        <h3>{{ sentence.sentence }}</h3>
        <div>
            <a href="{% url 'edit-dialog' situation.id sentence.id 'delete-phrase' %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'edit-phrase' situation.id sentence.order %}" class="btn btn-success">Edit</a>
            <a href="{% url 'edit-dialog' situation.id sentence.order 'order-up' %}" class="btn btn-success">Up</a>
            <a href="{% url 'edit-dialog' situation.id sentence.order 'order-down' %}" class="btn btn-success">Down</a>


        </div>
    </div>
    {% endfor%}
</div>
<hr>
<div>
    <h2>Dodaj sentencje</h2>
    <a href="{% url 'add-phrase' situation.id %}" class="btn btn-success">Add</a>
</div>
{% endblock %}

{% block scripts %}
<!-- Additional files js -->
{% endblock %}
